/* Container utama */
.login-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 70px;

  }
  
  /* Bagian kiri (form login) */
  .login-left {
    flex: 1;
    background-color: #F4B779;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    margin-left: 20px;
  }
  
  .title {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .form {
    width: 100%;
    max-width: 300px;
  }
  
  label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #AA633D;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
  }
  
  .login-button:hover {
    background-color: #555;
  }
  
  .options {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 12px;
  }
  
  .forgot-password,
  .register a {
    color: #393f81;
    text-decoration: none;
    cursor: pointer;
  }
  
  .forgot-password:hover,
  .register a:hover {
    text-decoration: underline;
  }
  
  /* Bagian kanan (informasi dan gambar) */
  .login-right {
    flex: 1;
    background-color: #AA633D;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
  }
  
  
  .image-placeholder span {
    color: black;
    font-size: 18px;
  }
  
  .info h3 {
    margin: 10px 0;
  }
  
  .info p {
    font-size: 14px;
  }
  
  .login-footer {
    margin-top: 20px;
  }

  .login-footer span a{
    color: #fff;
  }

  .image-placeholder img {
    width: 200px; /* Atur lebar gambar */
    height: auto; /* Tinggi mengikuti aspek rasio */
    object-fit: contain; /* Menjaga aspek gambar tetap proporsional */
  }