* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #ddd;
  }
  
  .register-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 70px;

  }
  
  .register-left {
    flex: 1;
    background-color: #AA633D;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
  }
  
  .register-image img{
    width: 200px;
  }
  
  .register-right {
    flex: 1;
    background-color: #F4B779;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
  }
  
  .register-right h2 {
    margin-bottom: 20px;
    font-size: 2rem;
  }
  
  .register-form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
  }
  
  .register-form input,
  .register-form select {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .register-form button {
    padding: 10px;
    background-color: #AA633D;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .register-form button:hover {
    background-color: #aa633dd5;
  }
  
  .register-right p {
    margin-top: 15px;
    color: #555;
  }
  
  .login-link {
    color: #fff;
    text-decoration: none;
  }
  
  .login-link:hover {
    text-decoration: underline;
    color: #838383;
  }
  
  .semester-input small {
    font-size: 0.8rem;
    color: #888;
    display: block;
    margin-top: 5px;
  }
  